NODE_ENV=dev
# Port for the API server
API_PORT=3000
# bcrypt salt rounds
SALT_ROUNDS=12
# JWT secret
JWT_SECRET=oeL0xvKleZvALGWVwMWadS00Us47Rh3GH8EC6dfbW5w=
JWT_EXPIRES_IN=1h
# Database configuration
DB_HOST=auth-postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=authdb